@import url('https://fonts.googleapis.com/css2?family=Margarine&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&family=Tilt+Warp&display=swap');

body {
    font-family: 'Patrick Hand', Arial, sans-serif;
    font-size: 24px;
    line-height: 1.6;
    color: #2E2E2E;
    background-color: #FFE88A;
    background-position: center;
    background-image: url('../images/background.png');
    background-size: auto; /* Adjust this as needed */
    background-repeat: repeat; /* This will make the background image repeat */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.h1 {
    font-size: 3rem;
}

.btn {
    font-size: 1.5rem;
}

/* Make the navbar sticky */
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

/* Game container style */
.game-container {
    position: relative;
    max-width: 1200px;
    margin: auto;
    padding: 60px;
    background-color: #fff;
    border-radius: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Ensure contents do not exceed the border */
}

/* Apply 30px padding to .game-container on tablets */
@media (max-width: 768px) and (min-width: 481px) {
    .game-container {
        padding: 30px;
    }
}

.game-container-wrap {
    width: 100vw;
    height: 100vh;
    padding: 2.5rem;
    box-sizing: border-box; /* Ensure padding is included in the element's total width and height */
}

.game-title {
    max-height: 5rem;
}

@media (max-height: 800px) {
    .game-container-wrap {
        padding: 0.5rem; /* Adjust padding for smaller heights */
    }
}

/* Logo style */
.logo {
    max-height: 10rem;
    width: auto;
}

.text-input {
    background-color: #E1EFFF;
    border-radius: 50px;
    font-size: 4rem;
    padding: .5rem;
    border: 0;
    width: 100%;
    max-width: 572px;
    box-sizing: border-box;
    text-align: center; /* Center the text */
    color: #2E2E2E; /* Set the font color */
    max-height: 156px;
    height: 100vh;
}

.btn-primary {
    display: block;
    min-width: 24rem;
    margin: 0 auto; /* Center align */
    font-size: 2.5rem;
    background-color: #68AFFF;
    box-shadow: 0 8px 0 #489DF9;
    border: none;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 30px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    max-height: 130px;
    height: 100vh;
}

.btn-primary:disabled {
    background-color: #C6C5CD;
    box-shadow: none;
    cursor: not-allowed;
}

/* Category page style */
.card-subject {
    font-family: 'Tilt Warp', Arial, sans-serif;
    font-size: 2.5rem;
    border-radius: 30px;
    background-color: white;
    border: 10px solid rgba(255, 232, 138, 0.5); /* FFE88A with 50% opacity */
    color: #2E2E2E;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    max-height: 223px;
    width: 100%;
    max-width: 356px;
}

.card-subject.selected {
    background-color: #FFD722;
    color: #FFF;
    -webkit-text-stroke: 2px #2E2E2E; /* Stroke for selected text */
}

.card-subject h2 {
    margin: 0;
    font-size: 2rem;
}

.card-subject p {
    margin: 0;
    font-size: 1.5rem;
}

.card-subject:hover {
    background-color: #FFD722;
    color: #FFF;
    -webkit-text-stroke: 2px #2E2E2E; /* Stroke for hover text */
}

@media (max-width: 768px) {
    .logo {
        max-height: 9rem; /* Adjust this value as needed for smaller screens */
    }
    .game-container-wrap {
        padding: 1rem; /* Adjust padding for mobile devices */
    }
    .game-container {
        padding: 60px 15px; /* Adjust padding for mobile devices */
        border-radius: 30px; /* Adjust border-radius for mobile devices */
        justify-content: normal;
        height: auto;
        max-height: 618px; /* Set max-height for mobile devices */
    }
    .game-title {
        max-width: 100%; /* Full width on mobile devices */
    }
    .btn-primary {
        width: 100%; /* Full width on mobile devices */
        height: 80px; /* Set height for btn-primary */
        min-width: unset; /* Remove the min-width on mobile devices */
        max-width: 281px; /* Set max-width for btn-primary */
        border-radius: 20px; /* Set border-radius for btn-primary */
    }
    .text-input {
        height: 80px; /* Set height for nameInput */
        border-radius: 30px; /* Set border-radius for nameInput */
        font-size: 2rem; /* Set font size for nameInput */
    }
    .h1 {
        font-size: 2rem; /* Set font size for "Hello! What’s your name?" */
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .container {
        max-width: 720px; /* Max container width for medium screens */
    }
    .game-container {
        border-radius: 60px; /* Set border-radius for game-container */
    }
    .text-input {
        font-size: 2.5rem; /* Set font size for nameInput */
    }
    .h1 {
        font-size: 2.5rem; /* Set font size for "Hello! What’s your name?" */
    }
}

@media (min-width: 992px) {
    .game-container-wrap {
        padding: 1rem; /* Set padding for game-container-wrap */
    }
    .game-container {
        border-radius: 100px; /* Set border-radius for game-container */
        width: 100%; /* Full width */
        height: 100vh; /* Full viewport height */
        max-height: 700px; /* Set max-height for game-container */
    }
}

/* Center-align the input field */
.centered-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.centered-form input {
    margin-bottom: 1rem;
    padding: 0.5rem;
}

.centered-form button {
    padding: 0.5rem 1rem;
}

/* Progress bar style */
.progress {
    height: 20px;
    background-color: #e9ecef;
    border-radius: 0 10px 10px 0;
    overflow: hidden;
}

.progress-bar {
    background-color: #FDC851;
    height: 100%;
    transition: width 0.6s ease;
    border-radius: 0 10px 10px 0;
}

/* Quiz layout */
.quiz-container {
    width: 100%;
}

.question-container {
    margin-bottom: 20px;
}

.image-container {
    flex: 1;
}

.answers-container {
    flex: 2;
}

/* Answer card style */
.answer-card {
    background-color: white;
    border: 5px solid rgba(255, 215, 34, 0.5); /* #FFD722 with 50% opacity */
    border-radius: 30px;
    cursor: pointer;
    position: relative; /* Needed for positioning the icons */
    transition: background-color 0.3s, border-color 0.3s;
    height: 100vh;
    max-height: 150px;
}

.answer-card:hover {
    background-color: #FFD722;
    border-color: #FFD722;
}

.answer-card.selected {
    background-color: #FFD722;
    border-color: #FFD722;
}

.answer-card.correct {
    background-color: #94D66B;
    border-color: #94D66B;
    border: 5px solid rgba(148, 214, 107, 0.5);
}

.answer-card.correct::after {
    content: "\f00c"; /* Font Awesome check icon */
    font-family: "Font Awesome 6 Free"; /* Ensure you are using the correct Font Awesome version */
    font-weight: 900;
    position: absolute;
    top: 10px;
    right: 10px;
    color: #4DB945;
}

.answer-card.incorrect {
    background-color: #FF7A67;
    border-color: #FF7A67;
    border: 5px solid rgba(255, 122, 103, 0.5);
}

.answer-card.incorrect::after {
    content: "\f00d"; /* Font Awesome xmark icon */
    font-family: "Font Awesome 6 Free"; /* Ensure you are using the correct Font Awesome version */
    font-weight: 900;
    position: absolute;
    top: 10px;
    right: 10px;
    color: #E94F3A;
}

/* Feedback message style */
.feedback {
    font-family: 'Tilt Warp', Arial, sans-serif;
    font-size: 1.2rem;
    margin-top: 10px;
}

/* Level-up message style */
.level-up-message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    background-color: #489DF9;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    font-size: 1.5rem;
    z-index: 1000;
}

#levelLabel {
    font-family: 'Tilt Warp', Arial, sans-serif;
    background-color: #FFD722;
    box-shadow: 8px 8px 0 #FDC851;
    z-index: 999;
}

.star-rating {
    display: inline-block;
    font-size: 2rem;
}

.star {
    margin: 0 0.1rem;
}